*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estiliza o vídeo de fundo */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Faz o vídeo cobrir toda a tela */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.form_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Formulário */
.formcadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 560px;
    width: 750px;
    background-color: #83e1dd;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(84, 74, 158, 0.9);
    
}

.cadtitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.formcadastro h1{
    color:#ce0610;
}

.formcadastro h2{
    color:#066966;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Caixa de texto */
.formcadastro input{
    height: 45px;
    width: 310px;
    gap: 20px;
    border-radius: 10px;
    background-color: #41b4af;
    border: none;
    padding-left: 15px;
    box-shadow: 3px 3px 3px rgba(84, 74, 158, 0.9);
}

input:focus {
    border: solid 4px #ce0610;
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(84, 74, 158, 0.4);
  }



.formcadastro input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}


.formduo{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.formcadastro p{
    color: #066966;
    font-weight: bold;
}

.cadinput{
    display: flex;
    gap: 5px;
    flex-direction: column;
}


.formcadastro input[type="submit"]{
    width: 280px;
    cursor: pointer;
    background-color: #ce0610;
    font-style: bold;
    color: #ffffff;
    padding-left: 0;
    transition: 0.5s;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 5px;
}

.formcadastro input[type="submit"]:hover{
    background-color: #910108;
}


.btn_back img{
    height: 40px;
    transition: 0.5s;
}

.btn_back img:hover {
    height: 40px;
    cursor: pointer;
    filter: brightness(1.5); 
    transform: scale(1.05);
}
