*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(../img/img_login/fundologin2.jpeg); */
    background-size: 100%;
}

/* Estiliza o vídeo de fundo */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Faz o vídeo cobrir toda a tela */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}


.form_container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Formulário */
.formlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 560px;
    width: 450px;
    background-color: #83e1dd;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(84, 74, 158, 0.9);
}

.formlogin img{
    height: 180px;
}

.formlogin h1{
    color:#066966;
}

/* Caixa de texto */
.formlogin input{
    height: 45px;
    width: 370px;
    gap: 20px;
    border-radius: 10px;
    background-color: #41b4af;
    border: none;
    padding-left: 15px;
    box-shadow: 3px 3px 3px rgba(84, 74, 158, 0.9);
}

input:focus {
    border: solid 4px #ce0610;
    transition: 0.3s;
    box-shadow: 0 0 5px rgba(84, 74, 158, 0.4);
  }



.formlogin input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

/* Botões */
.formlogin input[type="submit"]{
    width: 200px;
    cursor: pointer;
    background-color: #ce0610;
    font-style: bold;
    color: #ffffff;
    padding-left: 0;
    transition: 0.5s;
    font-size: 18px;
    margin: 15px 0 5px 0;

}

.formlogin input[type="submit"]:hover{
    background-color: #910108;
}


.optlogin{
    display: flex;
    gap: 160px;
    text-decoration: underline;
    cursor: pointer;
    color: #066966;
    transition: 0.5s;
}

.optlogin p{
    text-decoration: underline;
    color: #066966;
    transition: 0.5s;
}


.optlogin p:hover{
    color: #019d6c;
}

.btn_back img{
    height: 40px;
    transition: 0.5s;
}

.btn_back img:hover {
    height: 40px;
    cursor: pointer;
    filter: brightness(1.5); 
    transform: scale(1.05);
}

